{
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"after": true,
		"afterEach": true,
		"before": true,
		"beforeEach": true,
		"describe": true,
		"it": true
	},
	"rules": {
		"array-bracket-spacing": [2, "never", {"singleValue": true}],
		"brace-style": [2, "1tbs", {"allowSingleLine": true}],
		"camelcase": [2, {"properties": "never"}],
		"comma-dangle": [2, "never"],
		"comma-spacing": [2, {"after": true, "before": false}],
		"comma-style": [2, "last"],
		"complexity": [2, 4],
		"curly": [2, "all"],
		"dot-notation": 2,
		"eol-last": 2,
		"eqeqeq": 2,
		"guard-for-in": 2,
		"indent": [2, "tab", {"SwitchCase": 1}],
		"key-spacing": [2, {"beforeColon": false, "afterColon": true}],
		"keyword-spacing": [2, {}],
		"linebreak-style": [2, "unix"],
		"max-depth": [2, 2],
		"max-len": [2, 200],
		"max-params": [2, 4],
		"max-statements": [2, 9],
		"no-caller": 2,
		"no-empty": [2, {"allowEmptyCatch": true}],
		"no-implicit-coercion": [2, {"boolean": true, "string": true, "number": true}],
		"no-mixed-spaces-and-tabs": 2,
		"no-multi-spaces": 2,
		"no-new": 2,
		"no-shadow": 0,
		"no-spaced-func": 2,
		"no-trailing-spaces": 2,
		"no-undef": 2,
		"no-underscore-dangle": 2,
		"no-unused-vars": 2,
		"no-use-before-define": [2, {"functions": false}],
		"one-var": [2, "never"],
		"quote-props": [2, "as-needed"],
		"quotes": [2, "single"],
		"semi-spacing": [2, {"before": false, "after": true}],
		"semi": [2, "always"],
		"space-before-blocks": [2, "always"],
		"space-before-function-paren": [2, "never"],
		"space-in-parens": [2, "never"],
		"space-infix-ops": 2,
		"space-unary-ops": [2, {"nonwords": false, "overrides": {}}],
		"spaced-comment": [2, "always"],
		"strict": [2, "global"],
		"wrap-iife": 2,
		"yoda": [2, "never"]
	}
}
