
# Language/versions
language: node_js
node_js:
  - "0.12"
  - "0.10"

# Build only master (and pull-requests)
branches:
  only:
    - master

# Before install
before_install:
  - npm install coveralls

# Build script
script:
  - make ci
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
